.FavoritesContainer{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 30px 30px;
    grid-auto-flow: row
}


.item-a {
    grid-column: 1;
    grid-row: 10;
    background-color: bisque;
  }