@font-face {
    font-family: 'Lato';
    src: "./../../fonts/Lato/Lato-Bold.ttf";
}

body {
    font-family: 'Lato', arial;
}

#carousel {
    width: 80%;
    text-align: center;
}

#carousel-container {
    margin-top: 5%;
}

.poll-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}