@font-face {
    font-family: 'Lato';
    src: "./../../fonts/Lato/Lato-Bold.ttf";
}

body {
    font-family: 'Lato', arial;
}

#flexbox-forgot {
    width: 80%;
    padding-top: 7%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#buttons {
    width: 80%;
    display: flex !important;
    justify-content: space-between;
    margin: 5%;
}

