@font-face {
    font-family: 'Lato';
    src: "./../../fonts/Lato/Lato-Bold.ttf";
}
#flexbox-registration {
    width: 80%;
    padding-top: 10%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#main-form {
    width: 60%;
    gap: 10px;
}

#buttons-registration {
    display: flex !important;
    margin: 5%;
    gap: 10%;
}

#logo {
    margin-bottom: 2%;
}
