@font-face {
    font-family: 'Lato';
    src: "./../../fonts/Lato/Lato-Bold.ttf";
}
#flexbox-registration {
    width: 80%;
}

#main-form {
    width: 50%;
}

#buttons {
    margin: auto;
}

#logo {
    margin-bottom: 2%;
}
